.nvoAcento__container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #ebf0f2;
    border-radius: 8px;
    padding: 0 0.2rem 0.2rem;
    border: 3px #6abbb2;
    border-style: solid;
    box-shadow: -5px 1px 12px 2px rgba(0,0,0,0.2);
    width: 92vw;
    display:block;
}

.nvoAcento__title {
    color: black;
    text-align: center;
}

.AcentoNvo__group {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "label data"
                         "nothing error";
    align-items: start;
    padding: .2rem;
    width: 100%;
    align-self: center;
    font-size: 0.8rem;
}

.AcentoNvo__table-label {
    grid-area: label;
    text-align: right;
    padding-right: .5rem;
    /* width: 20%; */
    margin-top: .5rem;
}

.AcentoNvo__table-data {
    grid-area: data;
    margin-top: .5rem;
    margin-right: .5rem;
    z-index: 10;
}

.AcentoInput{
    font-size: 0.8rem;
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

.AcentoInput:focus {
    outline: none;
    border: 1px solid #29dec9;
}

.AcentoInput::placeholder {
    font-size: .8rem;
}

.valido {
    border: 1.5px solid #29dec9;
}

.invalido {
    border: 2px solid red;
}

.invalid-feedback {
    grid-area: error;
    color: red;
}

.help-text {
    grid-area: error;
    color: #838685;
    font-size: .8rem;
}

.AcentoInput__location {
    border-radius: 3px;
}

.AcentoNvo__group:last-child {
    display: none;
}

.AudioTypeSelection {
    grid-area: data;
    /* justify-content: center; */
}

.AudioTypeSelection h4 {
    text-align: center;
}

.AudioTypeSelection_buttons {
    text-align: center;
}

.AudioTypeSelection .button {
    width: 40%;
    height: 4rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.submitInput__cont {
    margin-top: 1rem;
    width: 100%;
    display:flex;
    justify-content: center;
}

#submitInput {
    background: #4dc1b4;
    width: 14rem;
}

#submitInput:focus,
#submitInput:hover {
    color: #4dc1b4;
    background: white;
}

.deleteRec {
    background: #93b3af;
    color: black;
    width: 14rem;
    font-size: .8rem;
    border-radius: 15px;
    border: 1.5px solid #000;
    margin: 1rem;
    display: inline-block;
    width: 6rem;
}

.deleteRec:focus,
.deleteRec:hover {
    color: #000;
    background: white;
}

.RecordingModule {
    grid-area: data;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    background: #dfe6e9;
    border-radius: 8px;
    padding-left: 2rem;
    border: 3px #6abbb2;
    border-style: solid;
    box-shadow: -5px 1px 12px 2px rgba(0,0,0,0.2);
    /* width: 92vw; */
    display:block;
    align-self: flex-start;
}

#recLabel {
    display: none;
    position: absolute;
    margin-top: .5rem;
    width:2rem;
}

#stopButton {
    display: none;
}

.RecordingButtons {
margin-top: 2rem;
}

.button-rec {
    fill: white;
    margin-left: 4rem;
}

.button-rec:focus,
.button-rec:hover {
    fill: #4dc1b4;
}

.button-send {
    padding: 1rem;
    margin: 1rem;
}

@media (min-width: 40rem) {
    .nvoAcento__container {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 70vw;
        padding: 0 3rem 3rem;
    }

    .AcentoNvo__group  {
        font-size: 1.2rem;
    }

    .AcentoInput{
        font-size: 1.2rem;
    }

    .submitInput__cont {
        margin-top: 3rem;
    }
}



.button {
    color: white;
    background: #72cfc4;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 40%;
    border: 2px solid #72cfc4;
}

.button:focus,
.button:hover {
    color:  #72cfc4;
    background: white;
}

ul { list-style: none; }

li { margin: 1em; }

audio { display: block; }
