.lista-container {
    width: 80%;
}


input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align:left;

  padding: 1rem;

  color: #5f948e;
  background: rgba(84, 210, 196, 0.65);

  cursor: pointer;
  border: 2px solid #5f948e;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #436561;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: #ebf0f2;
  border-bottom: 1px solid #cad1d4;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0;
}

.content-inner {
    display:grid;
    grid-template-columns: auto;
}

.content-inner__acento {
    border: 1px solid white;
    text-align: center;
    padding-bottom: 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 22rem;
  overflow: auto;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 40rem) {
    .lista-container {

    }
    .content-inner {
        grid-template-columns: auto auto auto;
    }
}

@media (orientation: landscape) and (max-width: 40rem) {
    .lista-container {

    }
}
