.backdrop {
    position: fixed;
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.79);
}

.modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

.modal iframe {
    padding: 0;
    width: 100%;
    height: 100%;
}

.modal {
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 200;
    top: 0;
    left: 0;

  }

.modal iframe {

}

  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }

.main-map {
  width: 90vw;
  max-width: 70rem;
  padding: 0rem;
  justify-self: center;
  align-self: center;
  transform: translateY(-3rem);
  transition: transform 500ms;
}

.main-map__move {
    transform: translateY(-25vh);
}

.main-map__svg {

}

.land
{
  fill: rgba(91, 91, 91, 0.75);
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.land:hover {
    fill: #6abbb2;
    cursor: pointer;
}

.landNoData
{
  fill: rgba(91, 91, 91, 0.57);
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.landNoData:hover {

}


.main-mapinfo {
  /* display: none; */
  transform: translateX(110%);
  transition: transform 500ms;
  position: fixed;
  background: #ebf0f2;
  height: 40vh;
  width: 85vw;
  border: 3px #6abbb2;
  border-style: solid;
  border-right: none;
  top: 55vh;
  right: 0;
  padding: 0 1rem;
  z-index: 10;
  box-shadow: -5px 1px 12px 2px rgba(0,0,0,0.2);
  border-radius: 15px 0 0 15px;
}

.main-mapinfo a {

}

.main-mapinfo a:hover,
.main-mapinfo a:active {
    font-weight: bold;
    border-bottom: 2px solid;
    cursor: pointer;
}

.main-mapinfo .container {
    position: relative;
    font-size: .9rem;
}

.main-mapinfo .container h3 {
    text-align: center;
}

#videoName2LI {
    display: none;
}

#videoName3LI {
    display: none;
}

.button__close {
  position: absolute;
  top: .5rem;
  left: .2rem;
  font-size: 1rem;
}

.a__explora {
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.a__explora:hover,
.a__explora:active {
    border-bottom: 2px solid;
    cursor: pointer;
}

@media (min-width: 40rem) {

    .main-mapinfo {
      height: 45vh;
      width: 30vw;
      top: 17vh;
    }

    .main-map {
      /* so that map does not move in big screen */
      max-width: 50rem;
      transform: translateY(0rem);
      transition: none;
  }
  .main-mapinfo .container {
      font-size: 1rem;
  }

  .modal {
      position: fixed;
      transform: translateY(-3rem);
      top: 20%;
      left: 15vw;
      width: 770px;
      height: 425px;
      background: white;
      padding: 1rem;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

  .modal iframe {
      padding: 5px;
  }

}

@media (orientation: landscape) and (max-width: 50rem) {

.main-map {
  max-width: 50vw;
  justify-self: center;
  align-self: center;
  transform: translateX(0rem);
  transition: transform 500ms;
}

.main-map__move {
    transform: translateX(-25vw);
}

.main-mapinfo {
  height: 70vh;
  width: 40vw;
  top: 20vh;
}

.a__explora {
    bottom: .5rem;
    right: .5rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;

  }

  .modal iframe {
      padding: 0;
  }

}

@media (min-width: 60rem) {

    .main-mapinfo {
      height: 45vh;
      width: 35vw;
    }

}
