
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Arvo|Bitter|Roboto+Slab|Rokkitt');

html {
    height: 100%;
}

body {
    /* font-family: 'Special Elite', sans-serif; */
    font-family: 'Rokkitt', sans-serif;
    margin: 0;
}

/* For Previous Explorers */
@supports (display:grid) {
    body {
        display: grid;
        grid-template-rows: 3.8rem auto 0rem;
        grid-template-areas: "header"
                             "main"
                             "footer";
        height: 100%;
        padding-top: 0;
        background: #f2f8fa;
    }
}

main {
  grid-area: main;
  display: grid;
  justify-items: center;
  align-items: center;
}

.main-header {
  grid-area: header;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: end;
    grid-template-columns: 10rem auto;
    grid-template-rows: 3.8rem;
    grid-template-areas: "banner menu";
}

.main-header a {
  text-decoration: none;
}


.main-header__brand {
    color: #6abbb2;
  font-size: 1.6rem;
  grid-area: banner;
  margin-left: 2rem;
  align-self: center;
    /* text-shadow: .6px .6px .2rem #171a1a; */
}

.main-header__hamburguer-btn {
  grid-area: menu;
  width: 3rem;
  background: transparent;
  justify-self: end;
  border: none;
  margin-right: 1rem;
  align-self: center;
}

.main-header__hamburguer-btn {
  outline: none;
}

.hamburguer-btn__bar {
  width: 100%;
  height: 0.25rem;
  background: #5b5b5b;
  display: block;
  margin: 0.4rem 0;
  border-radius: 25px;
}

.main-header__nav {
  display: none;
  align-self: center;
}

.mobile-menu {
  transform: translateX(101%);
  transition: transform 500ms;
  position: fixed;
  background: white;
  height: 100vh;
  width: 100vw;
  border-left: 1px solid black;
  right: 0;
  padding: 0;
  z-index: 101;
}

.mobile-menu__items {
  width: 100%;
  height: 70%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1.5rem;
}

.mobile-menu__item-explora {
    list-style: none;
}

.mobile-menu__item-explora li::before {
  content: "• ";
  color: #6abbb2;
}

.mobile-menu__item {
    margin: 1rem 0;
    color: #6abbb2;
}

.mobile-menu__item a {
  text-decoration: none;
  color: #6abbb2;
}

.mobile-menu__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

.main_text {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 5rem auto;
  grid-template-areas: "title"
                        "content";
  justify-items: center;
  justify-content: space-between;
  grid-column-gap: 5rem;
}

.main-text__title {
  color: #2d2e2d;
  grid-area: title;
  align-self: center;
  font-size: 1.5rem;
  /* text-shadow: 1px 1px 1px #6abbb2; */
}

.main-text__content {
  grid-area: content;
  padding: 0 2rem;

}

.main_text p {
    text-align: justify;
    line-height: 1.3;
    font-size: 1.3rem;
}

.main-footer {
    grid-area: footer;
    justify-self: center;
    align-self: center;
}

.main-footer__slogan {
  /* font-size: .7rem; */
}


.list__item a{
    text-decoration: none;
    color: inherit;
}

.list__item a:hover,
.list__item a:active {
    font-weight: bold;
    border-bottom: 2px solid;
    cursor: pointer;
}


@media (min-width: 40rem) {

      body {
          grid-template-rows: 5rem auto 0rem;
        }

      .main-header {
          grid-template-columns: 14rem auto;
          grid-template-rows: 5rem;
      }

      .main-header__brand {
        font-size: 3rem;
        align-self: center;
      }

      .main-header__hamburguer-btn {
        display: none;
      }

      .main-header__nav {
        /* display: block; */
        display: grid;
        /* justify-content: space-between; */
        justify-self: right;
        grid-template-rows: 1.4rem 1.4rem 1.4rem;
      }

      .main-header__nav-item {
        margin-right: 2rem;
        /* text-shadow: .3px .3px .1px #090a0a; */
        font-size: 1rem;
        color: #6abbb2;
        justify-self: right;
        align-self: end;
      }

      .main-header__nav-item:hover {
          font-weight: bold;
      }

      .main-header_dropdown {
          position: relative;
          display: inline-block;
      }

      .dropbtn {
          padding: 0;
          color: #6abbb2;
      }

    .main-header_dropdown-content {
        display: none;
        position: absolute;
        background: #ebf0f2;
        right: 0;
        left: auto;
        min-width: 4.5rem;
        box-shadow: 3px 8px 16px 2px rgba(0,0,0,0.2);
        z-index: 200;
    }

      .main-header_dropdown-content a {
          margin-right: 0;
          padding: .2rem .5rem;
      }

      /* Change color of dropdown links on hover */
    .main-header_dropdown-content a:hover {color: #5eaba2;}

    /* Show the dropdown menu on hover */
    .main-header_dropdown:hover .main-header_dropdown-content{display: grid;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    /* .main-header_dropdown:hover .dropbtn {font-weight: bold;} */

      .main_text {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10rem auto;
        grid-template-areas: "title"
                              "content";
        justify-items: center;
        justify-content: space-between;
        grid-column-gap: 5rem;
      }

      .main-text__title {
        color: #2d2e2d;
        grid-area: title;
        align-self: center;
        font-size: 3rem;
      }

      .main-text__content {
        grid-area: content;
        padding: 1rem 10rem;

      }

      .main-footer__slogan {
        /* font-size: 1rem; */
      }

}

/* GENÉRICOS */
.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

button {
    font: inherit;
    cursor: pointer;
    background: none;
    border: none;

}

button:hover,
button:active {

}

button:focus{
    outline: none;
}
