@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Arvo|Bitter|Roboto+Slab|Rokkitt');

html {

}

body {
    /* font-family: 'Special Elite', sans-serif; */
    font-family: 'Rokkitt', sans-serif;
    background: #f2f8fa;
}

#header {
    background: #65aca4;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ffffff;
}

.module h2, .module caption, .inline-group h2 {
    background: #a5d6d1;
    color: #fff;
}

a:link, a:visited {
    color: black;
}

input[name="_addanother"],input[name="_continue"],input[name="_saveasnew"]{
    display: none;
}
