{% extends 'acentos/menu.html' %}
{% load static leaflet_tags widget_tweaks %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'acentos/css/acentoNuevo.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<main>
 <div class="nvoAcento__container">
         <h1 class="nvoAcento__title">Acento nuevo</h1>
     <hr>
     <p>{{ acento_nvo.content }}</p>
     <hr>
     <form method="post" novalidate enctype="multipart/form-data" id='myForm'>
  {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="AcentoNvo__group">
          <div class="AcentoNvo__table-label">
              {{ field.label_tag }}
          </div>

        {% if form.is_bound %}
          {% if field.errors %}
          <div class="AcentoNvo__table-data">
            {% render_field field class="AcentoInput invalido" %}
          </div>
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
          <div class="AcentoNvo__table-data">{%render_field field class="AcentoInput valido"%}</div>
          {% endif %}
        {% else %}
            <div class="AcentoNvo__table-data">
              {% render_field field class="AcentoInput" placeholder=field.help_text maxlength="300"%}
            </div>
        {% endif %}

      </div>
    {% endfor %}

        <div class="submitInput__cont">
            <button class="button" type="submit" id="submitInput">Enviar</button>
        </div>

    </form>

    <div class="AcentoNvo__group">
        <div class="AudioTypeSelection">
            <h4>¿Cómo te gustaría enviar tu acento?</h3>
        <div class="AudioTypeSelection_buttons">
            <button class="button" type="grabar" id="grabarInput">Grabar aquí mismo</button>
            <button class="button" type="subir" id="subirInput">Subir un audio ya grabado</button>

        </div>
        </div>
    </div>

    <div class="AcentoNvo__group">
        <div class="AcentoNvo__table-label">
            Graba tu audio aquí:
        </div>

        <div class="RecordingModule">

                <p>Asegúrate de estar en un lugar sin ruido, y tener audífonos puestos o el nivel de volumen bajo.</p>

                <div>
                  <button class="button" id="start">Haz click aquí para empezar a grabar</button>
                </div>

            <div class="RecordingButtons">

                <img id="recLabel" src="{% static 'acentos/recording.gif' %}" alt="">
                <button class="button button-rec" id="stopButton" disabled>Detener grabación</button>
                <h4>Grabación:</h4>
                <ul id="recordingslist"></ul>
            </div>
        </div>
    </div>

 </div>
</main>
{% endblock %}

{% block extra_style %}
<script src="{% static 'dist/recorder.min.js' %}"></script>
<script>
var encoderPathT = "{% static 'dist/encoderWorker.min.js' %}"
</script>
<script src="{% static 'acentos/JS/acentoNuevo.js' %}"></script>
{% endblock %}
