{% extends 'acentos/menu.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'acentos/css/acentoNuevo.css' %}" />
{% endblock %}

{% block content %}
<main>

    <div class="nvoAcento__container">
        <h1 class="nvoAcento__title">Tu Acento ha sido enviado</h1>

      <p> {{ acento_enviado.content }}</p>

      <p>Continúa explorando otros Acentos en:</p>
      <ul class="list">
          <li class="list__item"><a href="{% url 'explora_acentos' %}">Mapa</a></li>
          <li class="list__item"><a href="{% url 'explora_lista_acentos' %}">Lista</a></li>
      </ul>
    </div>
</main>
{% endblock %}
