{% extends 'acentos/menu.html' %}
{% load embed_video_tags %}

{% block content %}
<div class="main_text">
  <div class="main-text__title">Acerca de la acentoteca</div>
  <div class="main-text__content">
  <p> {{ acerca_de.content }}</p>

  </div>
</div>
{% endblock %}
