{% extends 'acentos/menu.html' %}
{% load static embed_video_tags %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'acentos/css/shared.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'acentos/css/exploralistaacentos.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'acentos/JS/exploralistaacentos.js' %}" />
{% endblock %}

{% block content %}
<main>
<h1>Lista de todos los Estados y sus Acentos</h1>
<div class="lista-container">

{% for key, values in st_list.items %}
    <div class="wrap-collabsible">
      <input id="collapsible{{ forloop.counter }}" class="toggle" type="checkbox">
      <label for="collapsible{{ forloop.counter }}" class="lbl-toggle">{{ forloop.counter }} . {{ key}}</label>
      <div class="collapsible-content">
        <div class="content-inner">

              {% for each in values %}
              <div class="content-inner__acento">
                  <h3>{{ each.name }}</h5>
                  <p>{{ each.description }}</p>
                      {% if  each.video %}
                          {% video each.video as vid %}
                            <iframe id="statevideo" width="260" height="144" src="{{ vid.url }}" frameborder="0"></iframe>
                          {% endvideo %}
                      {% endif %}
                      <br>
                      {% if  each.audio_file %}
                         <audio src="{{ each.audio_file.url }}" controls ></audio>
                      {% endif %}
              </div>
              {% endfor %}
        </div>
      </div>
    </div>
{% endfor %}
</div>
</main>

{% endblock %}
