{% extends 'acentos/menu.html' %}
{% load static leaflet_tags%}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'acentos/css/exploraacentos.css' %}" />
{% endblock %}

{% block content %}
<div class="detailed-map ">
  {% leaflet_js %}
  {% leaflet_css %}

  <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}">
  </script>
  <script type="text/javascript">
function out_layers(map,options){
    var acentoIcon = L.icon({
        iconUrl: "{% static 'acentos/acentoBubble.png' %}",
        iconSize:     [35, 35], // size of the icon
        iconAnchor:   [30, 35], // point of the icon which will correspond to marker's location
        popupAnchor:  [-10, -35] // point from which the popup should open relative to the iconAnchor
    });
    var datasets = new L.GeoJSON.AJAX("{% url 'acentos_json' %}",{
        onEachFeature: function(feature, layer){
            layer.bindPopup("<b>"+feature.properties.name.toString()+"</b>" +
            "<br>" +
             feature.properties.description.toString() +
             "<br>" +
             "<audio src=\"https://acentoteca.mx/media/" +
             feature.properties.audio_file.toString() +
             "\"controls ></audio>"
        ).setIcon(acentoIcon)
        }
    });
    datasets.addTo(map);
    //console.dir(datasets);
    // MARCER DE PRUEBA DE ESTILO
    //var coso = L.marker([20.417864, -103.5546], {icon: acentoIcon});
    //console.log('Punto prueba:');
    //console.log(coso);
    //console.log('---');
    //coso.addTo(map).bindPopup('<b>Tapatío</b></br>el NaaNaaa</br><audio src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Sleepys_jingle_60_seconds.ogg" controls ></audio>');

    // Poner view en Jalisco
    // map.setView([20.417864, -103.5546], 7);

    //TEMPORAL UNTIL POSTGIS IS INSTALLED
var jsonData;
  // extracting JSON info
  fetch('/acentos-json/').then(response => {
    return response.json();
  }).then(data => {
    jsonData = data;
    console.log(jsonData);
for (var i=0; i<jsonData.length; i++) {

       //var lon = markers[i][0];
       var lon = jsonData[i].ubicacion.x;
       //var lat = markers[i][1];
       var lat = jsonData[i].ubicacion.y;
       //var popupText = markers[i][2];
       var popupText = jsonData[i].description;
       //console.log(jsonData[i].ubicacion.x + ' ' +jsonData[i].ubicacion.y + jsonData[i].description);
       var popupText = "<b>"+jsonData[i].name.toString()+"</b>" +
       "<br>" +
        jsonData[i].description.toString() +
        "<br>" +
        "<audio src=\"http://localhost:8000" +
        jsonData[i].audio_file.toString() +
        "\"controls ></audio>";

        var markerLocation = new L.LatLng(lat, lon);
        var marker = new L.Marker(markerLocation, {icon: acentoIcon});
        console.log(marker);
        marker.addTo(map).bindPopup(popupText);
        //map.addLayer(marker);

        //marker.bindPopup(popupText);

    }
  }).catch(err => {
     alert('Json extracting error: ' + err);
  });
  }
  </script>

<di class="" id="main_map">
{% leaflet_map "gis" callback="window.out_layers"%}
</div>

</div>
{% endblock %}
