{% load static%}

<html>
    <head>
        <meta charset="UTF-8">
        <!-- If IE use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Set the page to the width of the device and set the zoon level -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        {% block extra_head_previous %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'acentos/css/shared.css' %}" />
        {% block extra_head %}{% endblock %}
        <title>Acentoteca</title>
    </head>
<body>
    {% block backdrop %}{% endblock %}
    <header class="main-header">
        <a class="main-header__brand" href="/">Acentoteca</a>
        <button class="main-header__hamburguer-btn">
        <span class="hamburguer-btn__bar"></span>
        <span class="hamburguer-btn__bar"></span>
        <span class="hamburguer-btn__bar"></span>
        </button>
        <nav class="main-header__nav">
        {% if user.is_authenticated %}
             <a class="main-header__nav-item" href="{% url 'admin:index' %}">{{ user.username }}: Agrega un acento •</a>
        {% else %}
             <a class="main-header__nav-item" href="{% url 'acento_nuevo' %}">Agrega Acentos •</a>
        {% endif %}
        <a class="main-header__nav-item" href="{% url 'acerca_de' %}">Acerca de •</a>
        <div class="main-header_dropdown main-header__nav-item">
            <button class="dropbtn">Explora Acentos ⌵</button>
            <div class="main-header_dropdown-content">
                <a class="main-header__nav-item" href="{% url 'explora_acentos' %}">Mapa •</a>
                <a class="main-header__nav-item" href="{% url 'explora_lista_acentos' %}">Lista •</a>
            </div>
        </div>
        </nav>
    </header>
    <nav class="mobile-menu">
        <button class="mobile-menu__close" type="button" name="button">&#10006;</button>
        <ul class="mobile-menu__items">
            <li class="mobile-menu__item">
              {% if user.is_authenticated %}
                         <a href="{% url 'admin:index' %}">{{ user.username }}: <br> Administra acentos </a>
              {% else %}
                         <a href="{% url 'acento_nuevo' %}">Agrega un acento</a>
              {% endif %}
            </li>
            <li class="mobile-menu__item">
                <a href="{% url 'acerca_de' %}">Acerca de</a>
            </li>
            <li class="mobile-menu__item">
                Explora Acentos
                <ul class="mobile-menu__item-explora">
                    <li><a class="mobile-menu__item" href="{% url 'explora_acentos' %}">Mapa</a></li>
                    <li><a class="mobile-menu__item" href="{% url 'explora_lista_acentos' %}">Lista</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="main-footer">
        <div class="main-footer__slogan">
        </div>
    </footer>
</body>
<script src="{% static 'acentos/JS/shared.js' %}"></script>
{% block extra_style %}{% endblock %}
</html>
